$bg-color-main: #FFFFFF;
$bg-color-interior: #63d1bb;
$bg-color-toys: #56c3b2;
$bg-color-main__heading-promo: #f9f9f9;
$bg-color-footer: #f1f1f1;
$font-color-main: #000000;
$font-color-green: #63d1bb;
$font-color-gray: #444444;
$tablet-width: 768px;
$mobile-width: 320px;
$desktop-width: 1200px;

